
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');
:root {
    --font-size: 16px;
    --main-color: #0B2545;
    --second-color: #17426F;
    --conatiner-width: 1200px;  
    --fuente:'Quicksand', sans-serif;
    
}
html{
    box-sizing: border-box;
}

*,*::after, *::before{
    box-sizing: inherit;
}
body {
    margin: 0;
    width: 100%;
    font-size: var(--font-size);
    overflow-x: hidden;
    color: #fff;
    font-family: var(--fuente);
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}
.container{
    background-color: var(--main-color);
    height: 100vh;
    display: flex;
    align-items: center;
}
.account{
    background-color: var(--second-color);
    display: flex;
    max-width: 1200px;
    width: 95%;

    margin: 0 auto;
}
.account-slider{
    flex: 0 0 calc(100% - 45%);
    position: relative;
}

.account-slider::before{
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: linear-gradient(to right,rgba(141,169,196,.5), rgba(19, 64, 116, .5) );
   
}
.account-container{
    flex: 0 0 calc(100% - 55%);
    padding: 4em;
}
.account-form{
    width: 100%;
}
.account-title{
    margin-bottom: 4em;
    text-align: center;
}
.account-h1{
    font-size: 2.5rem;
}
.account-p{
    font-size: 1.5rem;
}
.form{
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.form-field{
    display: flex;
    flex-direction: column;
}
.form-input{
    height: 2.5rem;
    border-radius: .2em;
    outline: 0;
    border: 0;
    padding-left: 1em;
    font-family: var(--fuente);
    font-size: 1rem;
}
.form-label{
    font-weight: bold;
    margin-bottom: .5em;
}
.form-group{
    display: flex;
    align-items: center;
    gap: .3em;
}
.form-chekbox{
    width: 1.2rem;
    height: 1.2rem;
}
.form-btn{
    background-color: #7E93A7;
    outline: 0;
    border: 0;
    width: 100%;
    height: 2.8rem;
    border-radius: .2em;
    font-family: var(--fuente);
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: background-color .3s ease;
}
.form-btn:hover{
    background-color: var(--main-color);
}